{% extends 'common/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Panacomps - Reset Password{% endblock %}

{% block content %}

<body class="form-body">
  <div class="sign-in-container">
    <img src="{% static 'assets/images/White PanaComps Logo on Blue 500 x 500 px.png' %}" alt="Panacomps-logo" />
    <h2>Reset Your Password</h2>
    <h5 class="mrg-bt">Enter the email associated with your account to reset your password.</h5>
    {% include 'common/error_messeges.html' %}
    <form action="{% url 'password_reset' %}" method="POST">
      {% csrf_token %}

      <div class="item">
        <div class="data-field">
          <label class="form-label" for="id_email">Email</label>
          {% render_field form.email class="form-control" placeholder="name@gmail.com" %}
        </div>
      </div>
      <button class="download-btn" type="submit">Reset Password</button>
    </form>
    <!-- <h5>Need help?<a href="#">Contact Support</a></h5> -->
    <h5 class="text-center">Remember your password? <a href="{% url 'login' %}">Log In</a></h5>
  </div>
</body>

{% endblock %}
