{% extends 'common/base.html' %}
{% load static %}
{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}



<body class="form-body">
    <div class="sign-in-container">
      <img src="{% static 'assets/images/White PanaComps Logo on Blue 500 x 500 px.png' %}" alt="Panacomps-logo" />
      <h2>Password Reset Email Sent</h2>
      <h5 class="mrg-bt" >  
        An email has been sent to your registered email address with instructions on how to reset your password.
        If you do not receive an email within a few minutes, please check your spam folder.
        
    </h5>
    </div>
  </body>



{% endblock %}
