{% extends 'common/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Panacomps - Reset your Password{% endblock %}

{% block content %}

<body class="form-body">
  <div class="sign-in-container">
    <img src="{% static 'assets/images/White PanaComps Logo on Blue 500 x 500 px.png' %}" alt="Panacomps-logo" />
    <h2>Reset Your Password</h2>
    <!-- <h5 class="mrg-bt">Enter the email associated with your account to reset your password.</h5> -->
    {% include 'common/error_messeges.html' %}
    <form  method="POST">
      {% csrf_token %}

      <div class="item">
        <div class="data-field">
          <label class="form-label" for="id_email">New Password</label>
          {% render_field form.new_password1 class="form-control" placeholder="new password" %}
          <label class="form-label" for="id_email">New Password</label>
          {% render_field form.new_password2 class="form-control" placeholder="new password" %}
        </div>
      </div>
      <button class="download-btn" type="submit">Reset your Password</button>
    </form>
  </div>
</body>

{% endblock %}
